### Exercise 1: Your first DataFrame

In [13]:
import pandas as pd
import numpy as np

In [14]:
print("Method 1: From NumPy array")
print("-" * 30)

Method 1: From NumPy array
------------------------------

In [15]:
data_array = np.array([
    ['Blue', [1, 2], 1.1],
    ['Red', [3, 4], 2.2],
    ['Pink', [5, 6], 3.3],
    ['Grey', [7, 8], 4.4],
    ['Black', [9, 10], 5.5]
], dtype=object)

In [16]:
df_from_array = pd.DataFrame(
    data=data_array,
    index=[1, 3, 5, 7, 9],
    columns=['color', 'list', 'number']
)

In [17]:
df_from_array['number'] = pd.to_numeric(df_from_array['number'])

In [18]:
print(df_from_array)

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

In [19]:
print("\nMethod 2: From Pandas Series")
print("-" * 30)

Method 2: From Pandas Series
------------------------------

In [20]:
color_series = pd.Series(['Blue', 'Red', 'Pink', 'Grey', 'Black'], 
                        index=[1, 3, 5, 7, 9])
list_series = pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]], 
                       index=[1, 3, 5, 7, 9])
number_series = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5], 
                         index=[1, 3, 5, 7, 9])

In [21]:
df_from_series = pd.DataFrame({
    'color': color_series,
    'list': list_series,
    'number': number_series
})

In [22]:
print(df_from_series)

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

In [82]:
print("\nFirst value types:")
for col in df_from_series.columns:
    first_value = df_from_series[col].iloc[0]
    print(type(first_value))

First value types:
<class 'str'>
<class 'list'>
<class 'numpy.float64'>

In [83]:
print("Column types:")
for col in df_from_series.columns:
    print(type(df_from_series[col]))

Column types:
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

### Exercise 2: Electric power consumption

In [ ]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('household_power_consumption.txt', sep=';')

/tmp/ipykernel_61368/4116954226.py:1: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('household_power_consumption.txt', sep=';')

In [27]:
print("Original dataset shape:", df.shape)
print("\nFirst few rows:")
print(df.head())

Original dataset shape: (2075259, 9)

First few rows:
         Date      Time Global_active_power Global_reactive_power  Voltage  \
0  16/12/2006  17:24:00               4.216                 0.418  234.840
1  16/12/2006  17:25:00               5.360                 0.436  233.630
2  16/12/2006  17:26:00               5.374                 0.498  233.290
3  16/12/2006  17:27:00               5.388                 0.502  233.740
4  16/12/2006  17:28:00               3.666                 0.528  235.680

  Global_intensity Sub_metering_1 Sub_metering_2  Sub_metering_3
0           18.400          0.000          1.000            17.0
1           23.000          0.000          1.000            16.0
2           23.000          0.000          2.000            17.0
3           23.000          0.000          1.000            17.0
4           15.800          0.000          1.000            17.0

In [28]:
df.drop(['Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1, inplace=True)

In [29]:
print("Columns after deletion:", df.columns.tolist())

Columns after deletion: ['Date', 'Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1']

In [35]:
print(df.head().index)

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [36]:
def update_types(df):
    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    return df

In [37]:
df = update_types(df)

In [38]:
print(df.dtypes)

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [41]:
print(df.describe())

       Global_active_power  Global_reactive_power       Voltage  \
count         2.049280e+06           2.049280e+06  2.049280e+06
mean          1.091615e+00           1.237145e-01  2.408399e+02
std           1.057294e+00           1.127220e-01  3.239987e+00
min           7.600000e-02           0.000000e+00  2.232000e+02
25%           3.080000e-01           4.800000e-02  2.389900e+02
50%           6.020000e-01           1.000000e-01  2.410100e+02
75%           1.528000e+00           1.940000e-01  2.428900e+02
max           1.112200e+01           1.390000e+00  2.541500e+02

       Global_intensity  Sub_metering_1
count      2.049280e+06    2.049280e+06
mean       4.627759e+00    1.121923e+00
std        4.444396e+00    6.153031e+00
min        2.000000e-01    0.000000e+00
25%        1.400000e+00    0.000000e+00
50%        2.600000e+00    0.000000e+00
75%        6.400000e+00    0.000000e+00
max        4.840000e+01    8.800000e+01

In [43]:
print("Missing values before cleaning:")
print(df.isna().sum())

Missing values before cleaning:
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
dtype: int64

In [44]:
df.dropna(inplace=True)

In [45]:
print("Missing values after cleaning:")
print(df.isna().sum())

Missing values after cleaning:
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
dtype: int64

In [47]:
df.loc[:, 'Sub_metering_1'] = (df['Sub_metering_1'] + 1) * 0.06

In [48]:
print(df['Sub_metering_1'].head())

Date
2006-12-16    0.06
2006-12-16    0.06
2006-12-16    0.06
2006-12-16    0.06
2006-12-16    0.06
Name: Sub_metering_1, dtype: float64

In [49]:
print("\n7. Filtering data...")

7. Filtering data...

In [54]:
filtered_df = df[(df.index >= '2008-12-27') & (df['Voltage'] >= 242)]

In [55]:

print(f"Number of rows in filtered data: {len(filtered_df)}")

Number of rows in filtered data: 449667

In [58]:
print(filtered_df[['Global_active_power', 'Global_reactive_power']].head().to_markdown())

| Date                |   Global_active_power |   Global_reactive_power |
|:--------------------|----------------------:|------------------------:|
| 2008-12-27 00:00:00 |                 0.996 |                   0.066 |
| 2008-12-27 00:00:00 |                 1.076 |                   0.162 |
| 2008-12-27 00:00:00 |                 1.064 |                   0.172 |
| 2008-12-27 00:00:00 |                 1.07  |                   0.174 |
| 2008-12-27 00:00:00 |                 0.804 |                   0.184 |

In [59]:
print("\n8. 88888th row:")

8. 88888th row:

In [60]:
print(df.iloc[88887])

Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.100
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64

In [61]:
print("\n9. Date with maximum Global_active_power:")

9. Date with maximum Global_active_power:

In [62]:
max_power_date = df['Global_active_power'].idxmax()

In [64]:
print("Timestamp:", max_power_date)

Timestamp: 2009-02-22 00:00:00

In [65]:
print("\n10. Sorting data...")

10. Sorting data...

In [67]:
first_three_cols = df.columns[:3].tolist()
sorted_df = df[first_three_cols].sort_values(
    by=['Global_active_power', 'Voltage'], 
    ascending=[False, True])

In [69]:
print(sorted_df.tail().to_markdown())

| Date                |   Global_active_power |   Global_reactive_power |   Voltage |
|:--------------------|----------------------:|------------------------:|----------:|
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    234.88 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.18 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.4  |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.64 |
| 2008-08-12 00:00:00 |                 0.076 |                       0 |    236.5  |

In [71]:
print("\n11. Daily average of Global_active_power:")

11. Daily average of Global_active_power:

In [73]:
daily_avg = df.groupby(df.index.date)['Global_active_power'].mean()
daily_avg.index = pd.to_datetime(daily_avg.index)
daily_avg.index.name = 'Date'

In [74]:
print(daily_avg)

Date
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Name: Global_active_power, Length: 1433, dtype: float64

### Exercise 3: E-commerce purchases

In [103]:
import pandas as pd
import numpy as np
df = pd.read_csv('Ecommerce_purchases.txt')
pd.set_option('display.precision', 30)
print("Exercise 3: E-commerce purchases")
print("=" * 40)

Exercise 3: E-commerce purchases
========================================

In [85]:
print("1. Dataset shape:")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")
print(f"Shape: {df.shape}")

1. Dataset shape:
Rows: 10000, Columns: 14
Shape: (10000, 14)

In [104]:
pd.set_option('display.precision', 30)

In [109]:
avg_price = df['Purchase Price'].mean()

In [110]:
print(f"\n2. Average Purchase Price: {avg_price}")

2. Average Purchase Price: 50.347302

In [118]:
pd.set_option('display.precision', 20)
min_price = df['Purchase Price'].min()
max_price = df['Purchase Price'].max()
print(f"\n3. Price range - Min: {min_price}, Max: {max_price}")

3. Price range - Min: 0.0, Max: 99.99

In [119]:
english_count = len(df[df['Language'] == 'en'])
print(f"\n4. People with English language: {english_count}")

4. People with English language: 1098

In [120]:
lawyer_count = len(df[df['Job'] == 'Lawyer'])
print(f"\n5. People with job title 'Lawyer': {lawyer_count}")

5. People with job title 'Lawyer': 30

In [121]:
am_pm_counts = df['AM or PM'].value_counts()
print(f"\n6. AM purchases: {am_pm_counts['AM']}, PM purchases: {am_pm_counts['PM']}")

6. AM purchases: 4932, PM purchases: 5068

In [122]:
top_jobs = df['Job'].value_counts().head(5)
print(f"\n7. Top 5 job titles:")
print(top_jobs)

7. Top 5 job titles:
Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: count, dtype: int64

In [123]:
lot_90wt_price = df[df['Lot'] == '90 WT']['Purchase Price'].iloc[0]
print(f"\n8. Purchase price for Lot '90 WT': {lot_90wt_price}")

8. Purchase price for Lot '90 WT': 75.1

In [124]:
email = df[df['Credit Card'] == 4926535242672853]['Email'].iloc[0]
print(f"\n9. Email for credit card 4926535242672853: {email}")

9. Email for credit card 4926535242672853: bondellen@williams-garza.com

In [125]:
amex_above_95 = len(df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)])
print(f"\n10. American Express users with purchase above $95: {amex_above_95}")

10. American Express users with purchase above $95: 39

In [126]:
expires_2025 = len(df[df['CC Exp Date'].str.endswith('/25')])
print(f"\n11. Credit cards expiring in 2025: {expires_2025}")

11. Credit cards expiring in 2025: 1033

In [127]:
email_providers = df['Email'].str.split('@').str[1].value_counts().head(5)
print(f"\n12. Top 5 email providers:")
print(email_providers)

12. Top 5 email providers:
Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

### Exercise 4: Handling missing values

In [25]:
import pandas as pd
import numpy as np
df = pd.read_csv('iris.csv')

In [41]:
print(f"Original shape: {df.shape}")
print(df.head())
print(df.dtypes)
print(df.describe())

Original shape: (150, 5)
  sepal_length sepal_width petal_length petal_width       flower
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0        -3.6         -1.4         0.2  Iris-setosa
sepal_length    object
sepal_width     object
petal_length    object
petal_width     object
flower          object
dtype: object
       sepal_length sepal_width petal_length petal_width       flower
count           148         142          121         148          150
unique           40          28           44          25            4
top             5.0         3.0          1.5         0.2  Iris-setosa
freq             10          24            9          28           50

In [27]:
df_numeric = df.drop('flower', axis=1)
print(f"\nAfter dropping 'flower' column: {df_numeric.shape}")

After dropping 'flower' column: (150, 4)

In [28]:
for col in df_numeric.columns:
    df_numeric[col] = pd.to_numeric(df_numeric[col], errors='coerce')

print(f"\nMissing values: {df_numeric.isnull().sum().sum()}")

Missing values: 46

In [29]:
df_q1 = df_numeric.copy()

In [32]:
df_q1['sepal_length'] = df_q1['sepal_length'].fillna(df_q1['sepal_length'].mean())
df_q1['sepal_width'] = df_q1['sepal_width'].fillna(df_q1['sepal_width'].median())
df_q1['petal_length'] = df_q1['petal_length'].fillna(0)
df_q1['petal_width'] = df_q1['petal_width'].fillna(0)

print("Question 1 - Different strategies:")
print("sepal_length -> mean, sepal_width -> median, petal_length/width -> 0")
print(f"Missing values after: {df_q1.isnull().sum().sum()}")

Question 1 - Different strategies:
sepal_length -> mean, sepal_width -> median, petal_length/width -> 0
Missing values after: 0

In [33]:
df_q2 = df_numeric.copy()

for col in df_q2.columns:
    df_q2[col] = df_q2[col].fillna(df_q2[col].median())

print("\nQuestion 2 - Fill all with median:")
print(f"Missing values after: {df_q2.isnull().sum().sum()}")

Question 2 - Fill all with median:
Missing values after: 0

In [46]:
print("\nChecking for negative values in each column:")
for col in df_numeric.columns:
    negatives = df_numeric[df_numeric[col] < 0]
    if not negatives.empty:
        print(f"Negative values found in {col}:")
        print(negatives[[col]])

Checking for negative values in each column:
Negative values found in sepal_length:
   sepal_length
8          -4.4
Negative values found in sepal_width:
    sepal_width
4          -3.6
25         -3.0
Negative values found in petal_length:
     petal_length
4            -1.4
126          -4.8
Negative values found in petal_width:
     petal_width
144         -2.5

In [47]:
print("\nChecking for huge values (>100) in each column:")
for col in df_numeric.columns:
    huge = df_numeric[df_numeric[col] > 100]
    if not huge.empty:
        print(f"Huge values found in {col}:")
        print(huge[[col]])

Checking for huge values (>100) in each column:
Huge values found in sepal_length:
     sepal_length
139        6900.0
142         580.0
Huge values found in sepal_width:
    sepal_width
46       3809.0
51       3200.0
Huge values found in petal_length:
   petal_length
8        1400.0
Huge values found in petal_width:
    petal_width
56       1600.0

In [48]:
print(df_q1.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean      56.907534    49.648000     12.423333    11.786000
std      564.489133   404.506037    114.078057   130.550042
min       -4.400000    -3.600000     -4.800000    -2.500000
25%        5.100000     2.800000      1.300000     0.225000
50%        5.800000     3.000000      4.000000     1.300000
75%        6.500000     3.300000      4.975000     1.800000
max     6900.000000  3809.000000   1400.000000  1600.000000

In [49]:
print(df_q2.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean      55.543333    49.648000     13.323333    11.812000
std      564.549701   404.506037    113.993652   130.547807
min       -4.400000    -3.600000     -4.800000    -2.500000
25%        5.100000     2.800000      3.825000     0.300000
50%        5.750000     3.000000      4.500000     1.300000
75%        6.400000     3.300000      4.975000     1.800000
max     6900.000000  3809.000000   1400.000000  1600.000000

In [34]:
df_original = pd.read_csv('iris.csv')

In [45]:
for idx in range(len(df_original)):
    row = df_original.iloc[idx]
    if any(str(val).isalpha() for val in row if pd.notna(val)):
        print({idx})
        print(row)

        break

{122}
sepal_length      always
sepal_width        check
petal_length         the
petal_width         data
flower          !!!!!!!!
Name: 122, dtype: object